<div class="media-body"  id="comment-<%= comment.id %>">
  <h4 class="media-heading">
    <%= link_to comment.user.name, comment.user %>
    <small><%= comment.created_at %></small>
    <small class="delete-comment">
      <% if comment.user_id == current_user.id %>
        <%= link_to(image_tag("delete.png",alt: "Delte entry", size: "24x24"), comment, method: :delete,
          data: {confirm: "You sure ?"}, remote: true) %>
      <% end %>
    </small>
  </h4>
  <%= comment.content %>
</div>
<hr>