<li id="entry-<%= entry.id %>">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to entry.title, entry %> </h3>
      <h6>
        Posted <%= time_ago_in_words(entry.created_at) %> ago.
        by <span class="user"><%= link_to entry.user.name, entry.user %></span>
      </h6>
      <h6>
        <% if current_user?(entry.user) %>
          <%= link_to "delete", entry, method: :delete,
                                           data: { confirm: "You sure?"} %>
        <% end %>
      </h6>
    </div>
    <div class="panel-body">
      <span class="entry-content">
        <%= entry.body %>
      </span>
      <span>
        <a href="javascript:void(0)" class="show-comments" id="<%= entry.id%>">Comments</a>
      </span>
      <div class="comments" id="entry-comment-id-<%= entry.id %>">
      <!-- post comment -->
      <% if logged_in? %>
      <div class="row show">
        <%= form_for Comment.new, remote: true  do |f| %>
          <%= f.text_field :content, class: "post-comment-#{entry.id} form-control",
                                     placeholder: "Comment"
           %>
          <br>
          <%= f.hidden_field :entry_id, value: entry.id %>
        <% end %>
      </div>
      <% end %>
      <!--show comment -->
      <div class="row" id="entry-comment-<%= entry.id %>">
        <%= render entry.comments.limit(3) %>
        <% if entry.comments.size > 0 %>
          <a href="javascript:void(0)" class="show-all-comment" id="<%= entry.id %>">
            Show all comments
          </a>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</li>