<li class="row">
  <!-- Blog post -->
  <!-- title -->
  <h1><%= link_to @entry.title, @entry %></h1>
  <p class="lead">by <%= link_to @entry.user.name, @entry.user %> </p>
  <hr>
  <!-- Date/Time -->
  <p>
    <span class="glyphicon glyphicon-time"></span>
    Posted <%= @entry.created_at %>
  </p>
  <hr>
  <!-- Post content-->
  <p class="lead"><%= @entry.body %></p>
  <hr>
  <!--Blog comments -->
  <div class="media">
    <p><a href="javascript://" class="show-comments" id="<%= @entry.id%>">Comments</a></p>
    <!-- show post-form and comments of post -->
    <div class="comments" id="entry-comment-id-<%= @entry.id %>">
      <!--Post-form -->
      <% if logged_in? %>
      <div class="well">
        <h4>Leave a Comment: </h4>
        <div class="form-group form-comment">
        <%= form_for Comment.new, remote: true, html: {'role' => 'form'}  do |f| %>
          <%= f.text_area :content, class: "post-comment-#{@entry.id} form-control",
                                     placeholder: "Comment",:rows => 4
           %>
          <br>
          <%= f.hidden_field :entry_id, value: @entry.id %>
        </div>
          <%= f.submit "Submit", class: "btn btn-primary submit-comment" %>
        <% end %>
      </div>
      <% end %>
      <!--show comment -->
      <div class="media" id="entry-comment-<%= @entry.id %>">
        <%= render @entry.comments.limit(3) %>
        <% if @entry.comments.size > 0 %>
          <a href="javascript:void(0)" class="show-all-comment" id="<%= @entry.id %>">
            Show all comments
          </a>
        <% end %>
      </div>

    </div>
  </div>
</li>